[ofs]
ofs_client_module = pofs
ofs_root = iucr
ofs_class = POFS 

[worker_http]
listento = httploader
command = ./HTTP_loader.py
stdout_logfile = workerlogs/HTTP_loader.log
numprocs = 2

[worker_iucr_redis_tally]
listento = iucrredistally
command = ./iucr_redis_tally.py
stdout_logfile = workerlogs/iucr_redis_tally.log
numprocs = 10

[worker_iucr_scraper]
listento = iucrscraper
command = ./iucr_scraper.py
stdout_logfile = workerlogs/iucr_scraper.log
numprocs = 2

[logger_auditlogger]
listento = auditlog
command = ./logfromqueue.py
logfile = logs/audit.log
stdout_logfile = workerlogs/auditlogger.log

[worker_sourcedatacombiner]
listento = sourcedatacombiner
command = ./sourcedatacombiner.py
stdout_logfile = workerlogs/sourcedatacombiner.log
numprocs = 4

# DEFAULT VALUES FOLLOW (ASIDE FROM PASSWDs)
##############################
[redis]
host = localhost
port = 6379
db = 0

[redis_test]
host = localhost
port = 6379
db = 1

# CONFIGURE THE FOLLOWING PASSWORD:
[supervisor]
port = 127.0.0.1:9001
username = workflow
password = workflow

# Configure the following to let supervisor control the redis instance 
#  or comment it out otherwise.
[process_redis]
# add the correct path to the redis instance here
command = redis-1.2.6/redis-server

#[worker_broker]
#listento = silochanges
#command = ./broker.py
#fanout = auditlog, solrindex
#fanout_status_queue = broker_temp
# Time in seconds to sleep if there is nothing on the queue
#idletime = 1
#stdout_logfile = workerlogs/broker.log
#numprocs = 2
